.fondo {
    background-image: url(/assets/images/Playstation.gif);
    transition: opacity 0.5s ease;
    opacity: 1;
}

nav {
    height: 80px;
}

.fondo-pres{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/images/001.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
}

.subrayado {
    border-bottom: 5px solid #01449B; /* Grosor y color del subrayado */
    padding-bottom: 5px; /* Espacio entre el texto y el subrayado (ajustable) */
}

.barra-divisora {
    height: 1px; /* Grosor de la barra */
    background-color: #01449B; /* Color de la barra */
    margin: 20px 0; /* Margen superior e inferior */
}

.centrado {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.opac {
    filter: brightness(50%);
}