.active {
    background-image: url(/assets/images/Playstation.gif);
}

nav {
    height: 80px;
}

.navbar{
    transition: all 0.5s ease;
}

.fondo-pres{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/images/001.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.opacar{
    filter: brightness(0.4);   
}

.contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
}

.subrayado {
    border-bottom: 5px solid #01449B; 
    padding-bottom: 5px;
}

.barra-divisora {
    height: 1px; 
    background-color: #01449B; 
    margin: 20px 0; 
}

.centrado {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.opac {
    filter: brightness(50%);
}
